* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #f4f4f9;
}
header {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-block: 8px;
}
header img{
    width: 4dvh;
}

input {
    width: 30dvh;
}
header button{
    border-radius: 0 10px 10px 0;
    background-color: rgba(0, 0, 0, 0.541);
}

main {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}


.container-imagens {
    width: 90%;
    height: 90%;
    color: white;
    background-color: white;
    display: column;
    columns: 3;
    box-shadow: 0 0 16px #000;
    border-radius: 12px;
    overflow: hidden;
    padding-left: 8px;
}

.container-imagens img {
    width: 100%;
    
}